---
- name: Install APT requirements
  ansible.builtin.package:
    name:
      - dirmngr
      - make
    state: present
  become: true

- name: Enable APT repositories
  block:
    - name: Enable APT repositories
      ansible.builtin.apt_repository:
        repo: "{{ item }}"
        state: present
      become: true
      loop: "{{ php_enabled_apt_repos }}"

  rescue:
    - name: Install APT requirements (rescue)
      ansible.builtin.package:
        name:
          - software-properties-common
        state: present
      become: true

    - name: Enable APT repositories (rescue)
      ansible.builtin.command: "add-apt-repository -y {{ item }}"
      become: true
      loop: "{{ php_enabled_apt_repos }}"
      register: cmd_result
      changed_when: "'Reading' in cmd_result.stdout"
      failed_when: "'Reading' not in cmd_result.stdout"

- name: Set fact excluded packages (default)
  ansible.builtin.set_fact:
    php_excluded_packages: []

- name: Set fact excluded packages (PHP 8.5)
  ansible.builtin.set_fact:
    php_excluded_packages:
      - "{{ php_package_prefix }}-opcache"
  when: php_version[:3] == "8.5"

- name: Install APT PHP packages
  block:
    - name: Install APT PHP packages
      ansible.builtin.apt:
        name: "{{ (php_installed_packages + php_installed_packages_extra) | difference(php_excluded_packages) }}"
        state: present
        install_recommends: false
      become: true

  rescue:
    - name: Remove conflicting package (rescue)
      ansible.builtin.apt:
        name: libpcre2-dev
        state: absent
      become: true

    - name: Install APT PHP packages (rescue)
      ansible.builtin.apt:
        name: "{{ (php_installed_packages + php_installed_packages_extra) | difference(php_excluded_packages) }}"
        state: present
        install_recommends: false
      become: true
